<div>
  <section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let jeansD of jeansData">
          <div class="blog-box" >
            <img src="assets/images/shop-images/img1.jpg" alt="img" />
            <h3>{{jeansD.itemName}}</h3>
            <p>{{jeansD.itemDescription}}</p>
            <p>{{jeansD.itemPrice}}</p>
            <p>{{jeansD.itemSize}}</p>
            <a routerLink="/course/1" routerLinkActive="active" class="btn btn-danger">Read more...</a>
          </div>
        </div>  
      </div>
    </div>
  </section>
</div>
